<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
</head>
<body>

<h2>Customer Details</h2>
<p>Name: <span th:text="${customer.name}"></span></p>
<p>Email: <span th:text="${customer.email}"></span></p>

<h2>Account Details</h2>
<p>Account Number: <span th:text="${account.accountNumber}"></span></p>
<p>Balance: <span th:text="${account.balance}"></span></p>

<h2>Deposit Money</h2>
<form action="#" th:action="@{/account/deposit}" method="post" th:object="${formdata}">
    <input type="hidden" th:field="*{accountId}" th:value="${formdata.accountId}" />
    <label>Amount:</label>
    <input type="text" th:field="*{amount}"  /><br/>
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</p>
    <button type="submit">Deposit</button>
</form>

<h2>Withdraw Money</h2>
<form action="#" th:action="@{/account/withdraw}" method="post" th:object="${formdata}">
    <input type="hidden" th:field="*{accountId}" th:value="${formdata.accountId}"/>
    <label>Amount:</label>
    <input type="text" th:field="*{amount}"  /><br/>
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</p>
    <button type="submit">Withdraw</button>
</form>

<h2>Transfer Money</h2>
<form action="#" th:action="@{/account/transfer}" method="post" th:object="${formdata}">
    <input type="hidden" th:field="*{accountId}" th:value="${formdata.accountId}" />
    <label>Amount:</label>
    <input type="text" th:field="*{amount}"  /><br/>
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</p>
    <label>To Account:</label>
    <input type="text" th:field="*{toAccountId}"  /><br/>
    <p th:if="${#fields.hasErrors('toAccountId')}" th:errors="*{toAccountId}">To Account Error</p>
    <button type="submit">Transfer</button>
</form>

<h2>Previous Transactions</h2>
<table border="2">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.fromAccountId}"></td></td>
        <td th:text="${transaction.toAccountId}"></td>
        <td th:text="${transaction.type}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.timestamp}"></td>
    </tr>
</table>
</body>
</html>