<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Admin Page</title>
</head>
<body>
<div align="center">
    <h1>All Customers</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.getId()}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.bdate}"></td>
            <td>
                <a th:href="@{/customer/account/{id}(id=${customer.getId()})}" class="btn btn-primary">View Account</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>